[tools]
rust = "1.93.1"

[tasks.pre-commit]
run = [
  "cargo fmt --all -- --check",
  "cargo clippy",
  "cargo test",
]

[tasks."release:local"]
run = [
  "cargo build --release",
  "cp target/release/get \"$HOME/.local/bin/get\"",
]
